<nav class="navbar navbar-light d-flex align-items-center" xmlns:sec="http://www.w3.org/1999/xhtml">
    <a href="/balloons" class="go-to-balloons"><h1 class="text-center text-primary navbar-brand">🎈Balloon Shop App
    </h1></a>
    <div>
        <div sec:authorize="isAuthenticated()">
            <a class="btn btn-light btn-sm ml-3" href="/logout">
                <i class="fa fa-shopping-cart"></i> Logout
            </a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a class="btn btn-light btn-sm ml-3" href="/login">
                <i class="fa fa-shopping-cart"></i> Login
            </a>
        </div>
    </div>
</nav>