<section xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="d-flex justify-content-center">
        <h2>Order confirmation</h2>
    </div>
    <table class="table">
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>
        <tr>
            <td><b>Client Name </b></td>
            <td>
                <th:block th:text="${session.clientName}"></th:block>
            </td>
        </tr>
        <tr>
            <td><b>Client Address </b></td>
            <td>
                <th:block th:text="${session.clientAddress}"></th:block>
            </td>
        </tr>
        <tr>
            <td><b>Client IP Address</b></td>
            <td>
                <th:block th:text="${clientIpAddress}"></th:block>
            </td>
        </tr>
        <tr>
            <td><b>Client Browser</b></td>
            <td>
                <th:block th:text="${clientBrowser}"></th:block>
            </td>
        </tr>
        <tr>
            <td><b>Balloon Color </b></td>
            <td>
                <th:block th:text="${session.colorChosen}"></th:block>
            </td>
        </tr>
        <tr>
            <td><b>Balloon Size </b></td>
            <td>
                <th:block th:text="${session.sizeChosen}"></th:block>
            </td>
        </tr>
<!--        <tr>-->
<!--            <td><b>Order Count </b></td>-->
<!--            <td>-->
<!--                <th:block th:text="${#servletContext.getAttribute('orderCount')}"></th:block>-->
<!--            </td>-->
<!--        </tr>-->
    </table>
    <div class="btn-group" role="group">

        <a type="button" href="/orders" class="btn btn-success">See all orders</a>

<!--        <a sec:authorize="!isAuthenticated()" type="button" href="/logout" class="btn btn-danger">Log out</a>-->

    </div>


</section>
