<div class="d-flex justify-content-center">
    <h2>Delivery information</h2>
</div>
<section xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <form th:method="POST" th:action="@{/BalloonOrder}">
        <!--        <input type="hidden" id="username" name="username" th:value="${#request.getRemoteUser()}"/><br/>-->
        <div class="form-group">
            <label for="clientName">Client Name:</label><br/>
            <input class="form-control" type="text" id="clientName" name="clientName"/><br/>
        </div>
        <div class="form-group">
            <label for="clientAddress">Delivery Address:</label><br/>
            <textarea class="form-control" cols="40" rows="3" id="clientAddress" name="clientAddress"></textarea><br/>
        </div>
        <div class="form-group">
            <label for="dateCreated">Date Created:</label><br/>
            <input class="form-control" type="datetime-local" id="dateCreated" name="dateCreated"/>
        </div>
        <input class="btn btn-success" type="submit" th:value="Submit">

        <div th:if="${hasError}" class="error">
            <div th:text="${errorText}"></div>
        </div>
    </form>
</section>

<aside>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" colspan="2">
                Your Order Status
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>Balloon Type </b></td>
            <td>
                <th:block th:text="${session.colorChosen}"></th:block>
            </td>
        </tr>

        <tr>
            <td><b>Balloon Size </b></td>
            <td>
                <th:block th:text="${session.sizeChosen}"></th:block>
            </td>
        </tr>
        </tbody>
    </table>
</aside>