<section xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="d-flex justify-content-center">
        <h2>Choose balloon color</h2>
    </div>
    <form id="selectForm" th:method="POST" th:action="@{/balloons}"></form>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Balloon Color</th>
                <th scope="col">Description</th>
                <th scope="col">Manufacturer</th>
                <th scope="col" colspan="2" sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="balloon : ${balloonList}" class="balloon">

                <td>
                    <input th:id="${balloon.getId()}" type="radio" class="radio-button" name="color"
                           th:value="${balloon.getName()}"
                           form="selectForm">
                </td>

                <td>
                    <label th:for="${balloon.getId()}">
                        <th:block th:text="${balloon.getName()} "></th:block>
                    </label>
                </td>

                <td>
                    <th:block th:text="(${balloon.getDescription()})"></th:block>
                </td>

                <td>
                    <th:block th:text="(${balloon.getManufacturer().getName()})"></th:block>
                </td>

                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{ '/balloons/edit-form/{id}' (id=${balloon.getId()}) }"
                       class="btn btn-sm btn-info edit-product"><i class="fa fa-trash">Edit</i></a>
                </td>


                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <form th:action="@{ '/balloons/delete/{id}' (id=${balloon.getId()}) }" th:method="DELETE">
                        <button type="submit" class="btn btn-sm btn-danger delete-product"><i
                                class="fa fa-trash">Delete</i>
                        </button>
                    </form>
                </td>

            </tr>

            </tbody>
        </table>
    </div>

    <!--    <div th:if="${session.colorError}" class="error">-->
    <!--        <div th:text="${colorErrorText}"></div>-->
    <!--    </div>-->

    <div class="col mb-3">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <input form="selectForm" type="submit" class="btn btn-block btn-success submit" th:value="Submit">
            </div>
        </div>
    </div>


    <div class="col mb-3" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <a href="/balloons/add-form" class="btn btn-block btn-dark add-product-btn">Add new product</a>
            </div>
        </div>
    </div>


    <br/>
</section>
