<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <main>

        <div class="container">
            <div class="row">
                <div class="col-sm">

                    <form th:method="GET" th:action="@{/orders}">
                        <div class="form-group">
                            <label for="dateFrom">From:</label>
                            <input type="datetime-local" id="dateFrom" name="dateFrom" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="dateTo">To:</label>
                            <input type="datetime-local" id="dateTo" name="dateTo" class="form-control"/>
                        </div>
                        <input type="submit" th:value="Submit" class="btn btn-success">
                    </form>
                </div>

                <div class="col-sm d-flex align-items-end">
                    <form th:method="GET" th:action="@{/orders}">
                        <div class="form-group d-flex align-items-end">
                            <label>
                                Choose a user:
                                <select name="username" class="form-control">
                                    <option th:if="${user} != null"
                                            th:each="user : ${userList}"
                                            th:value="${user.getUsername()}"
                                            th:text="${user.getUserFullname().getName().toString()}">
                                    </option>
                                </select>
                            </label>
                        </div>
                        <input type="submit" th:value="Submit" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>

        <h2>Orders List</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Balloon Color</th>
                    <th scope="col">Balloon Size</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orderList}">
                    <td>
                        <th:block th:text="${order.getBalloonColor()} "></th:block>
                    </td>
                    <td>
                        <th:block th:text="(${order.getBalloonSize()})"></th:block>
                    </td>
                    <td>
                        <th:block th:text="(${order.getDateCreated()})"></th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col mb-3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a href="/logout" class="btn btn-block btn-danger">Log out</a>
                </div>
            </div>
        </div>

    </main>
</th:block>